body{
  background-color: #f1e2be;
  background-image: url(/flog_l.png);
  background-repeat: space;
}

.main-content{
  height: calc(100% - 150px);
}

.main-categorys{
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.main-menu{
  font-size: 1.25rem;
  font-family: 'Kaisei HarunoUmi', serif;
  margin-left: 50px;
}

.main-categorys{
  background-color: #fff;
  border-style: solid;
  border-width: 2px 0;
}

.main-category{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  list-style: none;
  font-family: 'Kaisei HarunoUmi', serif;
}

.main-category li{
  margin-right: 50px;
  color: black;
}

.select{
  border: none;
}

.main-discription{
  text-align: center;
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 20px;
  margin-top: 200px;
}

.main-post{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.new_post{
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 1rem;
  background: #fff;
  color: black;
  border-radius: 10px;
  padding: 18px 32px;
  border-width: thick;
  border-style: solid;
}

.new_post:hover{
  background: #ffdf1f;
}

.photo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.photo-content-title{
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 1rem;
  background: #fff;
  color: black;
  border-radius: 10px;
  padding: 18px 32px;
  border-width: thick;
  border-style: solid;
}

.photo-content-title:hover{
  background: #ffdf1f;
}

.photo-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-list{
  width: 37vh;
  padding: 1vw;
}


.photo-img-content {
  position: relative;
}

.photo-img {
  margin-top: 100px;
  width: 33vh;
  height: 33vh;
}

.photo-nickname{
  font-family: 'Kaisei HarunoUmi', serif;
  text-align: right;
}

.photo-title{
  font-family: 'Kaisei HarunoUmi', serif;
  text-align: center;
  font-size: 20px;
}


