
* {
  box-sizing: border-box;
}

header{
  height: 100px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
}

.heading{
  width: 55%;
  margin: 100px;
}

.nav_name{
  width: 15%;
  margin-left: 30px;
}

.nav_bar{
  width: 30%;
}

.user_nav{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer{
  height: 50px;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}
